@model SantaProject.Classes.User

@{
    ViewBag.Title = "Logout";
}

<div class="row">
    <div class="col-xs-8">
        <h2 style="text-align:center;">Thank you for using SantaProject!</h2>
    </div>
</div>

