<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DBName" value="santaprojectest" />
    <add key="Username" value="santaprojectestadmin" />
    <add key="Password" value="admintest" />
    <add key="Host" value="ds161136.mlab.com" />
    <add key="Port" value="61136" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
</configuration>