@model SantaProject.Models.Toys

@{
    ViewBag.Title = "Index";
}
<div class="row">
    <div class="col-xs-8">
        <h2 style="text-align:center;"><strong>Warehouse</strong></h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-8"><h4><strong>Name</strong></h4></div>
    <div class="col-xs-2"><h4><strong>Amount</strong></h4></div>
</div>
@foreach (var toy in Model.EntityList)
{
    <hr />
    <div class="row">
        <div class="col-xs-8"><h4>@Html.DisplayName(toy.Name.ToString())</h4></div>
        <div class="col-xs-2"><h4>@Html.DisplayName(toy.Amount.ToString())</h4></div>
    </div>
}
